.panel-heading, .panel-footer{
text-align: center;
}
.pics{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#adultPic{
	height: 400px;
}
#blog{
background-color:#f4e7ce;
}
#blog1{
background-color:#f8cdc0;
}
#blog2{
background-color:#ccccff;
}