body{
}

h1{
	font-family: cursive ,sans-serif;
}
.centered{
	text-align: center;
}
#mainheader{
	font-size: 250%
}
.link{
	color: black;
}
p.description{
	font-style: italic;
}
#projectstable{
	background-color: aqua;
	width: 600px;
	height: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
th{
	text-transform: uppercase;
	border-bottom: 2px solid #00b9b9;
}
tr.odd{
	background-color: #00e7e7;
}